.container{
    height: 80px;
    width: 150vw;
    background-color: rgb(6, 6, 99);
    display: flex;
    flex: row wrap;
    align-items: center;
    justify-content:space-evenly;
}
.home{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
.stud{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
.cont{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

